@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: burlywood;
}

.header__container {
  display: flex;
  position: sticky;
  top: 0;
  padding-left: 1rem;
  align-items: center;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__menu li {
  display: inline-flex;
  margin: 0.5rem;
}

.container {
  display: flex;
}

.left {
  margin: 1rem 0rem 1rem -1rem;
  background-image: url(../Images/1.webp);
  background-attachment: fixed;
  width: 50%;
  box-shadow: 20px 20px 60px blanchedalmond, -20px -20px 60px #ffffff;
  border-radius: 10px;
}

.right {
  width: 50%;
  margin: 1rem;
}

.section-right__title {
  display: flex;
  height: 50px;
  align-items: center;
}

.container__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.article {
  text-align: center;
  margin: 1rem;
  padding: 0.2rem;
  width: 40%;
  height: 55%;
  border-radius: 30px;
  background: blanchedalmond;
  box-shadow: 20px 20px 60px blanchedalmond, -20px -20px 60px #ffffff;
}

.article img {
  background-attachment: fixed;
  width: 100%;
  border-radius: 30px;
}

.article h3 {
  margin: 0.5rem;
}

.article p {
  margin: 0.5rem;
}

.separator {
  margin: 3rem;
  background-image: url(../Images/fantasy1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
  border-radius: 30px;
}

.separator h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  color: blanchedalmond;
}

.middle {
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  margin: 3.5rem;
  justify-content: space-around;
  border-radius: 30px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.middle-article {
  text-align: center;
  width: 800px;
  padding: 0rem 0.2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.middle-article h3 {
  margin: 1rem;
}

.middle-article img {
  border-radius: 10px;
  height: 500px;
  width: 100%;
}

.middle-article p {
  margin: 1rem;
}

.separator2 {
  margin: 3rem;
  background-image: url(../Images/cyberpunk1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
  border-radius: 30px;
}

.separator2 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  color: blanchedalmond;
}

.bottom-article {
  display: flex;
  flex-flow: row wrap;

  margin: 3.5rem;
  justify-content: space-around;
  border-radius: 30px;
}

.cyber-article {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0rem 0.2rem;
  margin: 2rem;
  font-size: 1.2rem;
  border-radius: 30px;
}

.cyber-content {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.cyber-article p {
  margin: 1rem;
}

.cyber-article img {
  width: 200px;
  border-radius: 10px;
}

footer {
  background: #444;
}
